<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="google" content="notranslate" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.jpg" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" crossorigin="anonymous" />
    <script>
      window.SITE_CONFIG = {}
      window.SITE_CONFIG['cdnPath'] = '<%- cdnPath %>'
      window.SITE_CONFIG['apiPath'] = '<%- apiPath %>'
    </script>
  </head>
  <body></body>
</html>
